@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 32px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
    color: #e6e6e6;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    cursor: default;
    user-select: none;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

#header {
    background-color: #000000;
    padding: 10px;
}

#main-body {
    flex: 1;
    background-color: #000000;
    color: white;
}

#footer {
    background-color: #000000;
    color: #e6e6e6;
    padding: 10px;
    text-align: center;
}

input,
textarea {
    outline: none;
    border: none;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* button animation */

@property --red {
    syntax: '<color>';
    initial-value: #fa5560;
    inherits: false;
}

@property --megenta {
    syntax: '<color>';
    initial-value: #b14bf4;
    inherits: false;
}

@property --blue {
    syntax: '<color>';
    initial-value: #4d91ff;
    inherits: false;
}

button {
    border: none;
    background: linear-gradient(135deg, var(--red) -24%, var(--megenta) 46%, var(--blue) 114%);
    transition: --megenta 0.5s, --blue 0.5s;
    color: #ffffff;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    --red: #fa5560;
    --megenta: #4d91ff;
    --blue: #4d91ff;
}

button:active {
    --red: #fa5560;
    --megenta: #b14bf4;
    --blue: #4d91ff;
}

/* button animation */

/* Scrollbar-styling */

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #b8b8b8;
    border-radius: 10px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #929292;
}

/* Scrollbar-styling */


/* Generic */

/* Main body Elements */
#main-body {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: stretch;
    padding: 5px;
}

.ed {
    flex: 1;
    display: flex;
    background-color: #000000;
    box-shadow: 0 0 8px;
    border-radius: 10px;

    transition: all 0.5s;
}

.ed:focus-within,
.ed:hover {
    box-shadow: 0 0 8px;
    color: #b14bf4;
    transition: all 0.5s;
}

.ed>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    flex: 1;
}

.result {
    flex: 1;
    cursor: default;
    resize: none;
    text-align: justify;
}